<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="infoofactor" class="com.stackroute.domain.Actor">
        <property name="name" value="Akshay Kumar"></property>
        <property name="Gender" value="Male"></property>
        <property name="age" value="50"></property>
    </bean>
    <bean id="infoofactor1" class="com.stackroute.domain.Actor">
        <property name="name" value="Ajay Devgan"></property>
        <property name="Gender" value="Male"></property>
        <property name="age" value="60"></property>
    </bean>
    <bean id="infoofactor2" class="com.stackroute.domain.Actor">
        <property name="name" value="Kriti Kharbanda"></property>
        <property name="Gender" value="Female"></property>
        <property name="age" value="28"></property>
    </bean>

    <bean id="Tees" class ="com.stackroute.domain.Movie">
        <property name="Akki" ref="infoofactor1"/>
    </bean>

</beans>